<div class="notes-container">
  
<div class="title-section">
    <!-- If editing, show input -->
    <input *ngIf="isEditingTitle" 
           [(ngModel)]="noteTitle"
           (keydown.enter)="saveTitle()" 
           (blur)="saveTitle()" 
           class="title-input"
           autofocus />

    <!-- If not editing, show text -->
    <h3 *ngIf="!isEditingTitle" 
        (click)="editTitle()" 
        class="title-text">
      {{ noteTitle }}
    </h3>
  </div>

  <div class="note-input">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
    <ngx-editor
      #ngxEditorComp
      [editor]="editor"
      [(ngModel)]="currentNote"
    ></ngx-editor>
  </div>

</div>
