<div class="audio-recorder-container">
  <!-- Recording Controls Component -->

  
  <div class="content-container">
    <!-- PDF Viewer Section (Left) -->
    <div class="pdf-center-wrapper">
      <div class="pdf-and-controls-wrapper">
        <div class="pdf-viewer-wrapper">
          <app-pdf-viewer 
            [pdfSrc]="pdfSrc"
            [pdfFileName]="pdfFileName"
            (slideNumberChange)="onSlideNumberChange($event)"
            (pdfSelected)="onPdfSelected($event)">
          </app-pdf-viewer>
        </div>

        <div class="recording-audio-wrapper">
          <app-recording-controls></app-recording-controls>
          <app-audio-playback 
            [audioURL]="audioURL" 
            (audioLoaded)="onAudioLoaded($event)">
          </app-audio-playback>
        </div>
      </div>
    </div>

    
    <!-- Notes Section (Right) -->
         <div class="timestamped-notes-wrapper">
      <app-timestamped-notes [isRecording]="isRecording"></app-timestamped-notes>      
     </div>
  </div>
</div>